body{
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.grid{
    grid-template-columns:  100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#title{
    font-size: 2em;
}

#p3, #p4, #p5{
    grid-column: 1;
}

a, a:hover, a:visited, a:active{
    padding-left: 30%;
    padding-right: 30%;
}

h1{
    font-size: 1.5em;
}