body{
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.grid{
    grid-template-columns:  100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#title{
    font-size: 3em;
}

#logo{
    width: 6em;
}