.grid{
    grid-template-columns:  5% 45% 45% 5%;
    grid-template-rows: 1fr 1fr 1fr;
}

#base{
    grid-column: 2;
    padding-left: 15%;
    align-self: center;
}

#deluxe{
    grid-column: 3;
    padding-right: 15%;
    align-self: center;
}

#bottom.p3{
    text-shadow: 0 0 10px #858585, 0 0 20px #858585, 0 0 30px #858585, 0 0 40px #22cc2a, 0 0 50px #22cc2a, 0 0 60px #00ff0c, 0 0 70px #00ff0c;
}

body.p3{
    background-color: #263926;
}

body.p4{
    background-color: #8a7d07;
}

#bottom.p4{
    text-shadow: 0 0 10px #000000, 0 0 20px #373737, 0 0 30px #c9c914, 0 0 40px #c3c026, 0 0 50px #ccc922, 0 0 60px #eeff00, 0 0 70px #eeff00;
}

body.p5{
    background-color: #2d0800;
}

#bottom.p5{
    text-shadow: 0 0 10px #858585, 0 0 20px #858585, 0 0 30px #f02424, 0 0 40px #f02424, 0 0 50px #f02424, 0 0 60px #8a1414, 0 0 70px #8a1414;
}